@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2')
            format('woff2'),
        url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff')
            format('woff'),
        url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf')
            format('opentype');
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

:root {
    font-family: 'GmarketSansMedium';
}

.screen-out {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}

body {
    background-color: #5b2386;
}

.hours-rule-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.hours-rule-image {
    position: absolute;
    margin-top: 120px;
    height: 36%;
}

.clock-image {
    margin-top: 50px;
}

.practice-image-container {
    display: flex;
    justify-content: center;
}

.practice-image {
    margin-top: 53px;
}

.hours-rule-text-container {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.select {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.text-hours-rule {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
}

.quotes-image {
    margin-top: 25px;
}

.wannabe-text-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wannabe,
.today-prac {
    margin: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
}

.hope-expert,
.hours-prac {
    width: 228px;
    height: 57px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
}

.test {
    position: relative;
}

.click-btn {
    overflow: hidden;
    margin: 90px auto;
    padding: 18px 68px;
    font-weight: 700;
    font-size: 22px;
    /* line-height: 22px; */
    background-color: #fcee21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    border: none;
    color: #5b2386;
}

.click-btn:hover {
    cursor: pointer;
}

.click-image {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
}

.loading-img-container {
    width: 100px;
    height: 100px;
    padding-bottom: 50px;
}

.loading-img-container img {
    width: 100%;
    height: auto;
    animation: rotate 1.1s infinite linear;
}

.loading-img-container.hidden {
    display: none;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.result-container.hidden {
    display: none;
}

.hope-result,
.hours-result {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 5px;
}

.result-select {
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
}

.btn-container {
    display: flex;
    gap: 30px;
    padding: 90px 0;
}

.btn-go,
.btn-share {
    padding: 17px 51px;
    background-color: #fcee21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    color: #5b2386;
    font-weight: 700;
    font-size: 24px;
    border: none;
}

.btn-go,
.btn-share:hover {
    cursor: pointer;
}

.btn-share {
    background-color: #ffffff;
}

.alright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}

.logo-image {
    width: 125px;
    height: 25px;
    padding: 20px;
}

.txt-footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
}
